.inputStyle {
    margin-top: 1rem;
    border-radius: 7px;
    width: 17rem;
    
}

.textArea{
    height: 6rem;
    width: 17rem;
}
.submitBtn{
    background-color: #063163;
    color: white;
    font-weight: 600;
    padding: 5px 15px;
    border-radius: 10px;
}